<app-nav-bar></app-nav-bar>
<div class="h-screen bg-[#0A134F] flex flex-col">
  <div class="flex items-center justify-center flex-1 w-screen">
    <div class="w-[500px] rounded-l-lg h-[500px] bg-[url('./assets/login.jpg')] bg-cover">
  
    </div>
    <div class="w-[400px] h-[500px] flex items-center justify-center bg-white rounded-r-lg">
      <div
      class="w-[320px] p-2"
    >
      <h1 class="mb-5 text-xl font-bold text-center">Login</h1>
      <form [formGroup]="loginFrom" (ngSubmit)="login()">
        <div class="mb-3">
          <label for="email" class="block mb-2 text-sm font-medium"
            >Your email</label
          >
          <input
            [class.!border-red-300]="
              loginFrom.get('email')?.invalid && loginFrom.get('email')?.touched
            "
            formControlName="email"
            type="email"
            id="email"
            class="border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:border-gray-600 dark:placeholder-gray-400 dark:focus:ring-blue-500 dark:focus:border-blue-500"
            placeholder="name@flowbite.com"
            required
          />
        </div>
        <div class="mb-3">
          <label
            for="password"
            class="block mb-2 text-sm font-medium"
            >Your password</label
          >
          <input
            [class.!border-red-300]="
              loginFrom.get('password')?.invalid &&
              loginFrom.get('password')?.touched
            "
            formControlName="password"
            type="password"
            id="password"
            class="border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:border-gray-600 dark:placeholder-gray-400 dark:focus:ring-blue-500 dark:focus:border-blue-500"
            required
          />
          <p
            routerLink="/forgot-password"
            class="mt-2 font-thin underline hover:cursor-pointer hover:text-blue-600"
          >
            Forgot Password?
          </p>
        </div>
        <div class="mb-1">
          <button
            [disabled]="loginFrom.invalid"
            type="submit"
            class="text-white bg-blue-700 hover:bg-blue-800 focus:outline-none font-medium rounded-lg text-sm w-full px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 mb-2"
          >
            Login
          </button>
          <p class="font-thin text-center">Not an account?</p>
          <button
            routerLink="/register"
            type="submit"
            class="text-white bg-gray-700 hover:bg-gray-800 focus:outline-none font-medium rounded-lg text-sm w-full px-5 py-2.5 text-center dark:bg-gray-600 dark:hover:bg-gray-700 mb-2"
          >
            Register
          </button>
        </div>
      </form>
    </div>
    </div>
  </div>  
</div>
